.hd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.hd h1 img {
  width: 200px;
}

.hd nav,
.hd nav > div {
  display: flex;
}

.hd .person::before {
  content: '';
  width: 1px;
  height: 50%;
  background-color: lightgray;
  margin: 0 1rem;
  position: relative;
  top: 25%;
}

.hd a {
  padding: 1rem 2rem;
}

.hd a:hover {
  color: burlywood;
}

.ham {
  display: none;
}

@media (max-width: 800px) {
  .hd {
    position: fixed;
    z-index: 99;
    height: 100px;
    background-color: white;
    width: 100%;
  }
  .ham {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 99;
  }
  .hd nav {
    display: none;
    border: 1px solid lightblue;
    position: fixed;
    left: 0;
    top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    color: white;
    padding-top: 100px;
  }

  .hd nav.on {
    display: block;
  }
  .hd .gnb {
    flex-direction: column;
    text-align: center;
  }

  .hd .person {
    justify-content: center;
  }
  .hd .person::before {
    display: none;
  }
}
